.git
.gitignore
.env
.venv
venv
__pycache__
.pytest_cache
.vscode
.idea
*.pyc
*.pyo
*.pyd
.DS_Store

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Other common environment file patterns
config.env
.environment
credentials.json


# Ignore all files in the data directory
data/
data/*

certificates/exams
certificates/exams/*

db_backup/
db_backup/*

scripts/hls_encoder/test_video_hls/
scripts/hls_encoder/test_video_hls/*
scripts/hls_encoder/*.mp4
scripts/hls_encoder/*.mov
scripts/hls-encoder/*
scripts/*



generate_urls.sh
checkout_urls.txt

.aws/tunnel.ssh
